* {
    box-sizing: border-box;
}

html {
    font-family: roboto;
    height: 100vh;
}

body {
    margin: 0;
    background-color: var(---clr-base-1);
    height: 100%;
}

header {
    background-color: white;
    border-bottom: 1px #DBDBDB solid;
}

input:focus {
    outline: none;
}

main {
    grid-column: 1/-1;
    background-color: var(---clr-base-1)
}

.editor {
    background-color: white;
}

.main-search {
    padding-inline-start: 2rem;
}

button {
    border: none;
    background-color: transparent;
    
    font-family: 'roboto';
    cursor: pointer;
}

button:hover {
    color: #FF9826;
}

h2 {
    margin: 0;
    
    font-size: 1.5rem;
    color: var(---clr-txt-1);
}

.gallery {
    background-color: var(---clr-base-1)
}

fieldset {
    border: 0;
}

nav {
    display: grid;
}