.editor-back-btn{
    font-size: 0.875em;
    font-weight: 100;

    margin-block: 1.5em;
    margin-inline-start: 1.625em;
    color:var(---clr-txt-3);
    width:fit-content;
    grid-column: 1;
    grid-row:1;
}

.editor-back-btn>*{
    margin-inline-end: 1rem;
}