.line-editor {
    padding: 0;
    margin: 0;
    border: 1px solid var(---clr-border-1);
    border-radius: 15px;
    background-color: white;
    grid-column: 1/-1;
}

.line-editor>* {
}

.line-editor>.line-text-edit {
    width:27.375rem;
    margin: 1.5rem;
    border: 0;
}