.main-nav button{
    display: grid;
    align-content: center;
    height: 50px;
    padding-inline:1.5625em;
    font-size: 1rem;
}

.main-nav button:not(.selected){
        color:#989898;

}

.main-nav button:hover{
    color:var(---clr-txt-base)
}

.main-nav>ul>li{
    width: fit-content;
}