.main-nav>ul{
    display:grid;
    justify-self: end;
    grid-template-columns: repeat(3,min-content);
    grid-auto-columns: min-content;
    grid-auto-flow: column;

}

.main-nav button{
    display: grid;
    align-content: center;
    height: 50px;
    padding:25px;
    font-size: 16px;
}

.main-nav button:not(.selected){
        color:#989898;

}

.main-nav button:hover{
    color:var(---clr-txt-base)
}

.main-nav>ul>li{
    width: fit-content;
}